<!--<div nz-row>-->
<!--  <div class="card-item">-->
<!--    <div class="card-item__type">{{cardItem.type}}</div>-->
<!--    <div class="card-item__image">-->
<!--      <img [src]="cardItem.imgUrl" alt="">-->
<!--    </div>-->
<!--    <div class="card-item__text"><h4>{{cardItem.title}}</h4></div>-->
<!--    <div class="card-item__available">-->
<!--      <p *ngIf="cardItem.isExist;else unset">Есть в наличии</p>-->
<!--      <ng-template #unset><p >Нет в наличии</p></ng-template>-->
<!--    </div>-->
<!--    <div class="card-item__old-price">{{cardItem.oldPrice}}</div>-->
<!--    <div class="card-item__price">{{cardItem.price}}</div>-->
<!--    <div class="card-item__buy">-->
<!--      <button>В КОРЗИНУ</button>-->
<!--      <div class="like-item"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="">
  <div class="container">
    <div class="row">
      <div *ngFor="let cardItem of cards" class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">

          <a href="#" class="card__img">
            <div class="card__img-bg"></div>
            <div class="card__more-info">Подробнее</div>
            <div class="card__type" *ngIf="cardItem.type"><span>{{cardItem.type}}</span></div>
            <div class="card__type" *ngElse><span>{{cardItem.type}}</span></div>
            <img class="" src="{{cardItem.imgUrl}}" alt="">
          </a>

          <div class="card-body">
            <h5 class="card__title">{{cardItem.title}}</h5>
            <ul class="card__details">
              <li class="card__text" *ngIf="cardItem.isExist">Есть в наличии</li>
              <li class="card__text" *ngIf="!cardItem.isExist">Нет в наличии</li>
              <li class="card__old-price" *ngIf="cardItem.oldPrice">{{cardItem.oldPrice}}</li>
              <li class="card__price" *ngIf="cardItem.price">{{cardItem.price}} <span>сум</span></li>
            </ul>
          </div>
          <div class="card_footer">
            <a href="#" class="baskets">В КОРЗИНКУ</a>
            <a href="#" class="like-item"><i nz-icon nzType="heart" nzTheme="outline"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
