<footer class="footer">
  <div nz-row nzJustify="center">
    <div nz-col nzXl="18" nzMd="24" nzOrder="2">
      <div class="footer__content-right">
        <div nz-row nzJustify="space-between">
          <div nz-col nzXXl="8" nzXl="8" nzLg="24">

            <div class="footer__links">

              <ul class="footer__hidden-links">
                <li><a href="">Главная</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Контакты</a></li>
              </ul>

              <ul class="footer__active-links">
                <li><a href="">Главная</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Акции</a></li>
              </ul>
              <ul class="footer__active-links">
                <li><a href="">Новости</a></li>
                <li><a href="">О нас</a></li>
                <li><a href="">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div nz-col nzXXl="10" nzXl="9" nzMd="12" nzXs="24">
            <div class="footer__payments">
              <span>Принимаем к оплате:</span>
              <div class="payment-types">
                <a href=""><img src="../../../../assets/icons/icon-payment-visa.svg" alt=""></a>
                <a href=""><img src="../../../../assets/icons/icon-payment-payme.svg" alt=""></a>
                <a href=""><img src="../../../../assets/icons/icon-payment-click.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div nz-col nzXXl="6" nzXl="7" nzMd="12" nzXs="24">
            <div class="footer__info">
              <ul>
                <li><i nz-icon nzType="field-time" nzTheme="outline"></i>с 09:00 - до 21:00 часов</li>
                <li><i nz-icon nzType="message" nzTheme="outline"></i><a href="infogiftvalley.shop@gmail.com">infogiftvalley.shop@gmail.com</a>
                </li>
                <li><i class="phone" nz-icon nzType="phone" nzTheme="outline"></i>+998 99 840-75-00</li>
                <button nz-button nzType="primary">
                  <i nz-icon nzType="poweroff"></i>
                  Перезвоните мне
                </button>
              </ul>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24" nzSize="">
            <hr>
            <span class="footer-last-text">Все права защищены © 2021 Made in Uzbekistan</span>
          </div>
        </div>

      </div>
    </div>
    <div nz-col nzXl="6" nzLg="24" nzOrder="1">
      <div nz-row nzJustify="center" class="footer__content-left">
        <div class="content-left__logo-wrapper">
          <div class="content-left__left">
            <img src="../../../../assets/mockdata/img/img-footer-img-pattern.png" alt="">
          </div>
          <div class="content-left__middle">
            <div class="content-top">
              <img src="../../../../assets/mockdata/img/img-footer-project-logo.png" alt="">
            </div>
            <div class="content-bottom">
              <p>Интернет магазин сувениров</p>
              <div class="horizontal-line"></div>
              <p>Присоединяйтесь:</p>
              <div class="social">
                <div class="social__links"><a href=""><i nz-icon nzType="facebook" nzTheme="outline"></i></a></div>
                <div class="social__links"><a href=""><i nz-icon nzType="wechat" nzTheme="outline"></i></a></div>
                <div class="social__links"><a href=""><i nz-icon nzType="instagram" nzTheme="outline"></i></a></div>
              </div>

            </div>
          </div>
          <div class="content-left__right">
            <img src="../../../../assets/mockdata/img/img-footer-img-pattern.png" alt="">


          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
